*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}

.header{
    margin-top: 0;
    height: 40px;
    border: 1px solid black;
    background-color: #131921;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoamazon {
    margin: 5px;
}

.logoamazon > img{
    float: left;
    width: 80px;
}

.search-map {
    margin: 5px 0 5px 10px;
}

.search-map > p {
    font-size: 12px;
    color: white;
}

.search{
    margin: 5px 0 5px 10px;
    width: 60px;
}
.search-country {
    margin: 5px 0 5px 10px;
    
}

.search-country  > p {
    font-size: 12px;
    color: white;
}

.signin{
    margin: 5px 0 5px 10px;
}
.signin > p {
    font-size: 12px;
    color: white;
}

.returns-orders{
    margin: 5px 0 5px 10px;
}
.returns-orders > p {
    font-size: 12px;
    color: white;
}

.cart {
    margin: 5px 0 5px 10px;
}

.cart > p{
    font-size: 12px;
    color: white;
}

.navigasi{
    background-color: #162242 ;
    height: 38px;
    display:flex;
    color: #232F3E;
    border: 1px solid black;
    
}

.list-menu{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.list-menu > li{
    list-style: none;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-menu > li > a {
    text-decoration: none;
    color: white;
    padding: none;
}

.list-menu > li > a:hover {
    color: white;
    padding: 5px 5px;
    border: 2px solid;
    cursor: pointer;
}


.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.article {
    width: 80%;
    height: 80%;
    margin: 10px;
    background-color: white;
}

.produkrekomendasi{
    margin: 10px 10px;
    display: flex;
}

.produkrekomendasi > img{
    width: 120px;
    margin: 5px;
    display: flex;
}

.produkpopular {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.produkpopular-item {
    display: flex;
    gap: 20px;
}

.produkpopular-item > img {
    width: 50px;
}

.h3article{
    color:  rgb(87, 83, 83);
    font-size: 15px;
}

.tanggal {
    color:  rgb(87, 83, 83);
    font-size: 12px;
}

.produkpopular-img {
    display: inline-block; 
    margin: 10px; 
}

.produkpopular-img > img {
    width: 80px;
    margin: 0 20px;
}


.produkpopular .produkpopular-next {
    margin-left: 150px;
}

.produkpopular .produkpopular-next >ul > li {
    display: inline;
    margin: 0 30px;
}

.produkpopular-next >ul > li > a {
    text-decoration: none;
    color:  rgb(35, 89, 236);
    font-size: 15px;
}

.aside {
    width: 20%;
    padding: 20px;
    background-color: white;
    order: -1;
}

.aside .jenis-jenis {
    margin-bottom: 8px;
}

.aside .jenis-jenis > ul > li {
    list-style: none;
    margin-bottom: 5px;
}

.aside .jenis-jenis > ul > li > a{
    text-decoration: none;
    color: rgb(87, 83, 83);
    font-size: 13px;
}

.h3aside {
    color:  rgb(87, 83, 83);
    font-size: 14px;
}

.addition-aside > ul > li {
    list-style: none;
    margin: 8px 0;
}

.addition-aside > ul > li > a {
    text-decoration: none;
    color: rgb(87, 83, 83);
    font-size: 13px;
}

.footer{
    background-color: white ;
    display:flex;
    color: #232F3E;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    justify-content: space-between;
}

.Customer-Service  {
    display: flex;
    margin-bottom: 10px;
}

.Customer-Service > h3 {
    margin-right: 176px;
    font-size: 15px;
    color: #555555;
}

.Customer-Service > p {
    font-size: 12px;
    color: #555555;
}

.Gmarket-inc {
    display: flex;
}

.Gmarket-inc > h3 {
    color: #555555;
    margin-right: 216px;
    font-size: 15px;
}

.Gmarket-inc > p {
    font-size: 12px;
    color: #555555;
}

.footer .disclaimer{
    margin-top: 15px;
    padding-left: 298px;
}

.footer .disclaimer > p{
    font-size: 12px;
    color: #555555;
}

.logogmarket{
    width: 80px;
    height: 38px;
    margin: 0 100px;
}